# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# SwiftPM
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Logs and dumps
*.log
*.dmp

# Secrets
.env
.env.*
*.p12
*.cer
*.mobileprovision
*.provisionprofile
